=box-shadow($options)
  -webkit-box-shadow: $options
  -moz-box-shadow: $options
  box-shadow: $options

=move-up()
  -webkit-transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  -moz-transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  -ms-transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  -o-transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)

=border-radius($value)
  -webkit-border-radius: $value
  -moz-border-radius: $value
  border-radius: $value